h1 {
    font-size: 200px;
    font-weight: bold;
    color: white
}

p {
    font-weight: 300;
    position: absolute;
    color: white;
    margin-top: 100px;
    margin-left: -55px;
}

.btn {
    position: absolute;
    margin-top: 220px;
}